# exclude debug output
.vs/
bin/
debug/
x86/
x64/
release/

# exclude binaries
*.exe
*.dll
*.pdb
*.idb

# exclude personal settings
*.vcxproj.user
*.code-workspace
*user-definitions.h
# Local launch arguments
launch-settings.json
